@font-face {
    font-family: 'f1regular';
    src: url('fonts/formula1-regular-webfont.woff2') format('woff2'),
         url('fonts/formula1-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'f1torque';
    src: url('fonts/formula1-bold-webfont.woff2') format('woff2'),
         url('fonts/formula1-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'f1turbo';
    src: url('fonts/formula1-wide-webfont.woff2') format('woff2'),
         url('fonts/formula1-wide-webfont.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: f1regular, sans-serif;
    color: white;
}

.titulo {
    font-family: f1torque, sans-serif;
    font-size: 10em !important;
    -webkit-text-stroke: 2px red;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: -1;
}

.botones {
    margin-top: 5%;
}

.custom-button {
    padding: 10px 20px;
    font-family: f1regular, sans-serif;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    width: 10%;
}

.custom-button:hover {
    background-color: black;
}